/*Aplicando o responsivo
Unidades relativas - aplicado em: 04/05/2021
*/
body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: #444;
    font-size: 62.5%; /*Gambiarra*/
}

a{
    color: #00ccff;
    font-size: 1.6em; /* 16px */
    text-decoration: none;
}
/* estilização do comportamento do mouse*/
a:hover{
    text-decoration: underline;

}

.container{
    max-width:1128px; 
    margin: 0 auto;
}

img,
figure,
video,
embed {
    max-width: 100%;
}

header{
    width: 100%;
    height: 48px;
    margin-top: 3.6em; /* 36px */
    margin-bottom: 3.6em;/* 36px */
}
.marca{
    float: left;
    width: 20.74%; /* 234px - objeto / 1128px contexto */
}

nav{
    float: right;
    width: 74.47%; /* 840px objeto / 1128px contexto /// obj/contexto * 100 = resultado*/
}

nav ul{
    float: right;

}
nav li{
    font-size: 1.2em; /*12px*/
    /* faz os menus aparecerem um do lado do outro*/
    display: inline-block;
    margin-left: 2.0em; /*20px*/
    margin-top: 1.0em; /*10px*/
}

nav li a{
    color: #999;
}

.banner{
    background: url('../site_webdesign/img/banner.jpg');
    height: 450px;
    margin-bottom: 4.8em; /*48px*/
    position: relative;
    width: 100%;

}

.caixa{
    position: absolute;
    top: 48px;
    background: rgba(0,0,0,0.6);
    width: 42.55%; /* 480px objeto / 1128px contexto /// obj/contexto * 100 = resultado*/
    padding: 2.4em 1.0em 2.4em 4.0em ; /* 24px-top / 10px-right / 24px-bottom / 40px-left*/
    display: center;
}

h1{
    font-size: 4.0em; /*40px*/
    color: #fff;
    font-weight: 200;
    margin-top: 0em;
    margin-bottom: 0em;
}
.descrição{
    text-align: center;
}

.destaque{
    font-size: 1.8em; /*18px*/
    color: #FFF;
    font-weight: 200;
}

.coluna{
    width: 23.4%;/* 264px objeto / 1128px contexto /// obj/contexto * 100 = resultado*/
    float: left;
    margin-right: 2.13%; /*18px objeto / 1128px contexto /// obj/contexto * 100 = resultado*/
}
.coluna:last-child{
    margin-right: 0;
}
coluna p{
    text-align: justify;
    font-size: 1.6em; /*16px*/
}

h2{
    font-size: 2.4em; /*24px*/
}

footer{
    width: 100%;
    margin-top: 2.4em; /*24px*/
    margin-bottom: 2.4em; /*24px*/
}
.footer{
    font-size: 1.0em; /*10px*/
    margin-bottom: 0em; 
}